{% extends 'base.html' %}

{% block content %}
<div class="container d-flex h-100 justify-content-center align-items-center" style="max-width: 450px;">
    <div class="col-md-8">
        <h1 style="font-family: 'IBM Plex Sans'; font-weight: bold;">Lets Teach! 🧑‍🏫</h1>
        <form method="POST" action="authenticate">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label" style="font-family: 'IBM Plex Mono';">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="username" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="font-family: 'IBM Plex Mono';">Password</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn btn-primary" style="font-family: 'IBM Plex Mono';">Submit</button>
        </form>
    </div>
</div>
<style>
    body, html {
        height: 100%;
        background-color: #ECF8F8;
    }
</style>
{% endblock %}