<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<html>
    <body>
        <div class="bg-dark" >
            <div class="collapse bg-dark pt-3 text-right" id="loginCollapsedContent">
                {% if request.user.is_authenticated %}
                <form action="logout" class="bg-dark" style="padding-right: 2pt">
                    <button class="btn btn-outline-light" type="button" action="logout">Logout</button>
                {% else %}
                <form action="login" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="passwd">
                    <button class="btn btn-outline-light" type="submit" action="login">Login</button>
                {% endif %}
                </form>
            </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="btn btn-outline-success" type="button">Home</button>
            <div class ="navbar-brand">Web Tutor</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#loginCollapsedContent">
              <span class="navbar-toggler-icon"></span>
        </nav>
        </div>
    <div class="container pt-3">
        {% block content %}
        {% endblock %}

        <img class="img-fluid" src="banner">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>