{% extends 'base.html' %} 
{% block content %}
<div class="container pt-3">
    <h1 class="text-center">Let's Get Started</h1>
    <div class="input-group text-center">
        <textarea class="form-control" placeholder="Enter your question"></textarea>
    </div>
    <div class="input-group text-center">
        <input class="input-group-text text-center" style="width: 100%; font-size: 18pt" placeholder="Ontario Course Code"></textarea>
    </div>
    <div>
        <button type="button" class="btn btn-dark">Find a Tutor</button>
    </div>
</div>

{% endblock %}