{% extends 'base.html' %} 
{% block content %}
<div class="container pt-3">
    <h1 class="text-center">Let's Get Started</h1>
    <div class="input-group">
        <textarea class="form-control" placeholder="Enter your question"></textarea>
    </div>
    <div class="input-group">
        <input class="input-group-text text-center" style="font-size: 22pt" placeholder="Ontario Course Code"></textarea>
    </div>
    <button type="button" class="btn btn-dark">Find a Tutor</button>
</div>

{% endblock %}