{% extends 'base.html' %} 
{% block content %}
<div class="container pt-3" style="max-width: 600pt">
    {% if request.user.is_authenticated %}
    {% else %}
    <h1 class="text-center">Let's Get Started</h1>
    <div class="input-group text-center">
        <textarea class="form-control"  placeholder="Enter your question"></textarea>
    </div>
    <div class="input-group text-center">
        <input class="input-group-text text-center" style="width: 100%; font-size: 18pt" placeholder="Ontario Course Code">
    </div>
    <div>
        <button type="button" class="btn-block btn btn-dark">Find a Tutor</button>
    </div>
    {% endif %}
</div>

{% endblock %}